
SpringBootApps/CourseDemoApp/.mvn/wrapper/maven-wrapper.jar
*.csv
deepLearningFunda/.idea/modules.xml
deepLearningFunda/.idea/misc.xml
NetCoreApps/TutoApp1/bin/Debug/*
NetCoreApps/TutoApp1/obj/Debug/*
/NetCoreApps/NetCoreApplications/.vs
/NetCoreApps/NetCoreApplications/Tutorial1/bin/Debug/netcoreapp2.1
/NetCoreApps/NetCoreApplications/Tutorial1/obj
/NetCoreApps/NetCoreApplications/Tutorial1.Data/obj
/NetCoreApps/NetCoreApplications/Tutorial1.Core/obj
/NetCoreApps/NetCoreApplications/Tutorial1.Core/bin/Debug/netcoreapp2.1
/NetCoreApps/NetCoreApplications/Tutorial1.Data/bin/Debug/netcoreapp2.1
deepLearningFunda/cppScNN/build/*
