@page
@model IndexModel
@{
    ViewData["Title"] = "Quizer";
}

<div class="text-center">
    <h1 class="display-4">Quizer Application</h1>

    <p>Hi there user, this application is work in progress come back later after sometime</p>
</div>
