@page
@model Tutorial1.Pages.QuestionGroups.ListViewModel
@{
    ViewData["Title"] = "ListView";
}

<h2>Question Topics</h2>

@Model.WelcomeMessage

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" 
                   class="form-control" 
                   value="Search Topics and Sets"
                   name="searchTerm"
                   asp-for="SearchTerm"/>

            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>

        </div>
    </div>
</form>

<table>
    @foreach (var t in Model.AllTopics)
    {
        <tr>
            <td>@t.Caption</td>
            <td>@t.Description</td>
        </tr>
    }
</table>
